<template>
	<view class="cart-container" v-if="cart.length !== 0">
		<!-- <my-address></my-address> -->
		<view class="cart-swipe">
			<uni-swipe-action>
				<view v-for="(good,i) in cart" :key="i">
					<uni-swipe-action-item  :right-options="options" @click="swipeItemClickHandler(good.good_id)">
						<my-good :good="good" :showRdio="true" :showNum="true" @radio-change="radioChangeHandler" @number-change="numberChangeHandler"></my-good>
					</uni-swipe-action-item>
				</view>
			</uni-swipe-action>
		</view>
		<my-settle></my-settle>
	</view>
	
	<view class="empty-cart" v-else>
		<image src="/static//my-pic/无物品.png" class="empty-img"></image>
		<text class="tip-text">空空如也~</text>
	</view>
</template>

<script>
	import badgeMix from "../../mixins/tabbar-badge.js"
	import { mapState,mapMutations,mapGetters } from "vuex"
	
	export default {
		mixins: [badgeMix],
		data() {
			return {
				options:[{
					text: '删除',
					style:{
						backgroundColor:'#C00000'
					}
				}]
			};
		},
		computed:{
			...mapState('m_cart',['cart']),
			...mapGetters('m_cart',['total'])
		},
		methods:{
			...mapMutations('m_cart',['removeEquipmentById','updateEquipmentRadioSwitch','updateEquipmentCount',"updateEquipmentState"]),

			swipeItemClickHandler(good_id){
				this.removeEquipmentById(good_id);
			},
			radioChangeHandler(e){
				this.updateEquipmentRadioSwitch(e)
			},
			numberChangeHandler(e){
				// console.log(e)
				this.updateEquipmentCount(e)
			},
			judgeCartExist(){
				if(this.cart.length !== 0){
					this.updateEquipmentState();
				}
			}
		},
		onShow() {
			// this.judgeCartExist();
		}
	}
</script>

<style lang="scss">
.cart-swipe{
	width: 100%;padding-bottom: 50px;
}
.empty-cart{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
}
.empty-img{
	width: 90px;
	height: 90px;
}
.tip-text{
	font-size: 12px;
	color: gray;
	margin-top: 15px;
}
</style>
