<template>
	<view>
		<uni-section title="我的收货地址" title-Font-Size="20px" titleColor="#2979ff" type="line"></uni-section>
		<uni-swipe-action>
			<uni-list v-for="(item,i) in recive" :key="i">
				<uni-swipe-action-item  :right-options="options" @click="swipeItemClickHandler(item)">
					<view class="" @click="confirmAddress(item)">
						<uni-list-item :title="item.receiveName+' '+item.receiveTel" :note="item.receiveAddress"></uni-list-item>
					</view>
				</uni-swipe-action-item>
			</uni-list>
		</uni-swipe-action>
		<button class="btn-addadr" @click="addadr">添加新地址</button> 		
	</view>
</template>

<script>
	import {mapMutations} from 'vuex'
	export default {
		data() {
			return {
				recive:{},
				options:[{
					text: '删除',
					style:{
						backgroundColor:'#C00000'
					}
				}]
			};
		},
		methods:{
			...mapMutations('m_user',['updateAddress']),
			//获取收货地址
			getRecive(){
				this.$myApi.get('receive/receiveinfo/'+uni.getStorageSync('userId')).then((res) =>{
					this.recive = JSON.parse(res.data.data)
				})
			},
			//删除收货地址
			swipeItemClickHandler(item){
				this.$myApi.delete('receive/receiveinfo/'+item.id+'/'+item.uid).then((res) =>{
					if(res.data.status == 200){
						this.getRecive()
					}
				})
			},
			//增加收货地址
			async addadr(){
				await uni.chooseAddress({
					success: (res) => {
						const adrInfo = {
							receiveAddress: res.provinceName+res.cityName+res.countyName+res.detailInfo,
							receiveName: res.userName,
							receiveTel: res.telNumber,
							uid: uni.getStorageSync("userId")
						}
						this.$myApi.post('receive/receiveinfo',adrInfo).then((res2) =>{
							if(res2.data.status==200){
								this.getRecive()
							}
						})
					},
					fail: (err) => {
						console.log(err)
					}
				})
			},
			confirmAddress(item){
				this.updateAddress(item)
				uni.navigateBack({
					delta: 1
				})
			}
		},
		computed:{
			
		},
		onShow() {
			this.getRecive()
		}
	}
</script>

<style lang="scss">
.btn-addadr{
	background-color: #2979ff;
	color: white;
	align-items: center;
	margin: 20rpx;
	text-align: center;
}
</style>
