<template>
	<view class="my-userinfo-container">
		<view class="top-box">
			<image :src="userinfo.avatarUrl" class="avatar"></image>
			<view class="nickname">{{userinfo.nickName}}</view>
		</view>

		<view class="panel-list">
			
			<view class="panel">
				<view class="panel-body">
					<view class="panel-item" @click="opensignIn">
						<xw-countup class="panel-item-sp" :num="star_point" color="#ff9e50"></xw-countup>
						<text>星豆</text>
					</view>
					<view class="panel-item">
						<text>8</text>
						<text>收藏的商品</text>
					</view>
<!-- 					<view class="panel-item">
						<text>18</text>
						<text>关注的商品</text>
					</view> -->
					<view class="panel-item">
						<text>84</text>
						<text>足迹</text>
					</view>															
				</view>
			</view>
			
			<view class="panel">
				<view class="panel-title">
					我的订单
				</view>
				<view class="panel-body">
					<view class="panel-item" @click="AllOrders(0)">
						<image src="../../static/my-icons/icon1.png" class="icon"></image>
						<text>待付款</text>
					</view>
					<view class="panel-item" @click="AllOrders(1)">
						<image src="../../static/my-icons/icon2.png" class="icon"></image>
						<text>已付款</text>
					</view>
					<view class="panel-item" @click="AllOrders(2)">
						<image src="../../static/my-icons/icon3.png" class="icon"></image>
						<text>已完成</text>
					</view>
					<view class="panel-item" @click="AllOrders(3)">
						<image src="../../static/my-icons/icon4.png" class="icon"></image>
						<text>全部订单</text>
					</view>
				</view>
			</view>
			
			<view class="panel">
				<view class="pan-list-item" @click="goToMyAddress">
					<text>收货地址</text>
					<uni-icons type="arrowright" size="14"></uni-icons>
				</view>
				<view class="pan-list-item">
					<text>联系客服</text>
					<uni-icons type="arrowright" size="14"></uni-icons>
				</view>
				<view class="pan-list-item" @click="logout">
					<text>退出登录</text>
					<uni-icons type="arrowright" size="14"></uni-icons>
				</view>
			</view>
		</view>

		<view class="popup">
			<!-- 普通弹窗 -->
			<uni-popup ref="popup" background-color="#fff">
				<view class="popup-content">
					<uni-section title="我的星豆" type="line">
						<view class="popup-text">
							<text>{{star_point}}</text>
						</view>
						<br>
					</uni-section>
					
					<button class="signBtn" plain="true" @click="signIn">签到领星豆</button>
				</view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations
	} from 'vuex'
	export default {
		name: "my-userinfo",
		data() {
			return {
				star_point: Number(uni.getStorageSync('star_point'))
			};
		},
		beforeMount() {
			this.star_point = Number(uni.getStorageSync('star_point'))
			this._time = setTimeout(() => {
				this.getStarPoint();
				clearTimeout(this._time);
			}, 1000);
		},
		computed: {
			...mapState('m_user',['userinfo'])
		},
		methods:{
			...mapMutations('m_user',['updateUserInfo','updateUserKey']),
			async logout(){
				const [err,succ] = await uni.showModal({
					title:'提示',
					content:'确认退出登录吗？'
				}).catch(err => err)
				
				if(succ && succ.confirm){
					this.updateUserInfo(null)
					uni.clearStorage()
					// this.updateUserPrivateInfo(null)
					// this.updateUserKey(null)
				}
			},
			goToMyAddress(){
				uni.navigateTo({
					url:"../../subpkg/my-address/my-address"
				})
			},
			AllOrders(i){
				uni.navigateTo({
					url:"../../subpkg/allOrder/allOrder?current="+i
				})
			},
			opensignIn(){
				this.$refs.popup.open('center')
				this.getStarPoint()
			},
			signIn(){
				//签到
				this.$myApi.get('user/singIn/'+uni.getStorageSync('userId')).then((res)=>{
					if(res.data.status==200){
						uni.$showMsg('签到成功！',1000,"success")
						this._time = setTimeout(() => {
							this.getStarPoint();
							clearTimeout(this._time);
						}, 800);
					}else{
						uni.$showMsg('今日已签到啦！',1500,"none")
						this.getStarPoint()
					}
				})
				this.$refs.popup.close()
			},
			getStarPoint(){
				this.$myApi.get('user/starPoint/'+uni.getStorageSync('userId')).then((res)=>{
					uni.setStorageSync('star_point',JSON.parse(res.data.data).systemUser.starPoint)
					this.star_point = JSON.parse(res.data.data).systemUser.starPoint
				})
			}
		}
	}
</script>

<style lang="scss">
	.my-userinfo-container {
		height: 100%;
		background-color: #F4F4F4;

		.top-box {
			height: 400rpx;
			background-color: #2979ff;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.avatar {
				width: 90px;
				height: 90px;
				border-radius: 45px;
				border: 2px solid #FFF;
				box-shadow: 0 1px 5px black;
			}
		}

		.nickname {
			font-size: 16px;
			color: #FFF;
			font-weight: bold;
			margin-top: 10px;
		}

		.panel-list {
			padding: 0 10px;
			position: relative;
			top: -10px;

			.panel {
				background-color: white;
				border-radius: 8px;
				margin-bottom: 8px;
				
				.panel-title{
					line-height: 45px;
					padding-left: 10px;
					font-size: 15px;
					border-bottom: 1px solid #F4F4F4;
				}
				
				.panel-body{
					display: flex;
					justify-content: space-around;
					.panel-item{
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-around;
						padding: 10px 0;
						font-size: 13px;
						.panel-item-sp{
							text-align: center;
						}
						.icon{
							width: 35px;
							height: 35px;
						}
					}
				}
			}
		}
		
		.pan-list-item{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 15px;
			padding: 0 10px;
			line-height: 45px;
		}
	}
	.popup{
		.popup-content{
			height: auto;
			width: 300px;
			padding: 0 8px 8px 8px;
			.popup-text{
				text-align: center;
			}
		}
		.signBtn{
			border-color: #2979ff;
			background-color: white;
			color: #2979ff;
			margin-top: 5px;
		}
	}

</style>
