<template>
	<view class="login-container">
		<uni-icons type="contact-filled" size="100" color="#AFAFAF"></uni-icons>
		<button type="primary" class="btn-login" @click="Login">一键登录</button>
		<text class="tips-text">登录后尽享更多权益</text>
	</view>
</template>

<script>
	import {
		mapMutations,
		mapState
	} from 'vuex'
	export default {
		name: "my-login",
		data() {
			return {

			};
		},
		computed: {
			...mapState('m_user', ['redirectInfo'])
		},
		methods: {
			...mapMutations('m_user', ['updateUserInfo', 'updateUserPrivateInfo', 'updateUserKey', 'updateRedirectInfo']),
			//获取用户昵称、头像
			Login() {
				let UserInfo = {
					systemUser:{},
					jsCode:''
				}
				uni.getUserProfile({
					desc: '获取你的用户信息!',
					success: (res) => {
						UserInfo.systemUser = res.userInfo
						//获取登录code
						uni.login({
							success: (msg) => {
								//换取用户唯一标识openid
								console.log("code="+msg.code)
								UserInfo.jsCode = msg.code
								this.WxRegister(UserInfo)
								this.updateUserInfo(res.userInfo)
								this.$emit('openLogin',false)
								this.navigateBack()
							}
						})
					},
					fail: (err) => {
						return uni.$showMsg('您取消了登录授权', 1200, 'none')
						console.log(err)
					}
					
				})
			},
			//注册wechat/register
			WxRegister(UserInfo){
				// this.$http('user/wechat',UserInfo,'POST').then((res) =>{
				// 	console.log(res)
				// })
				// let res1= await this.$myApi.post('user/wechat',UserInfo)
				// console.log(res1)
				
				this.$myApi.post('user/wechat',UserInfo).then((res) =>{
					let myToken = JSON.parse(res.data.data)
					if(res.data.status === 200){
						uni.setStorageSync('access_token', myToken.access_token)
						uni.setStorageSync('refresh_token', myToken.refresh_token)
						uni.setStorageSync('userId',myToken.userId)
						uni.setStorageSync('star_point',myToken.star_point)
						this.updateUserKey(myToken.userId)
					}
				})
			},
			//跳转页面
			navigateBack() {
			 // redirectInfo 不为 null，并且导航方式为 switchTab
				if (this.redirectInfo  && this.redirectInfo.openType == 'switchTab') {
					// 调用小程序提供的 uni.switchTab() API 进行页面的导航
					uni.switchTab({
						// 要导航到的页面地址
						url: this.redirectInfo.from,
						// 导航成功之后，把 vuex 中的 redirectInfo 对象重置为 null
						complete: () => {
							this.updateRedirectInfo(null)
						}
					})
				}else if(this.redirectInfo  && this.redirectInfo.openType == 'navigateTo'){
					uni.navigateTo({
						// 要导航到的页面地址
						url: this.redirectInfo.from,
						// 导航成功之后，把 vuex 中的 redirectInfo 对象重置为 null
						complete: () => {
							this.updateRedirectInfo(null)
						}
					})
				}
			}
		}
	}
</script>

<style lang="scss">
	.login-container {
		height: 750rpx;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.btn-login {
			width: 90%;
			border-radius: 100px;
			background-color: #2979ff;
		}

		.tips-text {
			font-size: 14px;
			padding-top: 3px;
			color: gray;
		}
	}
</style>
