<script>
	import { mapMutations } from 'vuex'
	export default {
		methods:{
			...mapMutations('m_user',['updateUserInfo','updateUserPrivateInfo','updateUserKey'])
		},
		onLaunch: async function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
