<template>
	<view>
		<my-search @myclick="gotoSearch()"></my-search>
		<view class="scroll-view-container">
			<!-- 左侧 -->
			<scroll-view scroll-y="true" :style="{height:wh + 'px'}" class="left-scroll-view">
				<block v-for="(item,i) in leftCateList" :key="i">
					<view :class="['left-scroll-view-item',i === active ? 'active' : '']" @click="activeChanged(i,item)">{{item.categoryType}}</view>
				</block>
			</scroll-view>
			
			<!-- 右侧 -->
			<scroll-view scroll-y="true" :style="{height:wh + 'px'}" :scroll-top="scrollTop">
				<view class="right-scroll-view" v-for="(item2,i2) in rightCateList" :key="i2">
					<uni-section :title="item2.categoryType" title-Font-Size="20px" titleColor="#2979ff" type="line">
						<uni-grid :column="2" :square="false" :showBorder="false" class="right-scroll-view-item">
							<uni-grid-item v-for="(item3,i3) in item2.rightChilh" :key="i3">
								<view class="grid-item-box" @click="gotoDetail(item3.good.id)">
									<image class="pic" :src="item3.mainImgPath" mode="scaleToFill"></image><br>
									<text>{{item3.good.title}}</text>									
								</view>
							</uni-grid-item>
						</uni-grid>
					</uni-section>
				</view>
			</scroll-view>
		</view>
	</view>
</template>

<script>
	import badgeMix from '../../mixins/tabbar-badge.js'
	import {mapMutations,mapGetters} from 'vuex'
	import http from '../../common/http/interface.js'
	export default {
		mixins: [badgeMix],
		data() {
			return {
				wh: 0,
				//左边分类列表数据
				leftCateList: [],
				rightCateList: [],
				active: 0,
				scrollTop: 0,
				status : "warning"
			};
		},
		onLoad() {
			const sysInfo = uni.getSystemInfoSync()
			this.wh = sysInfo.windowHeight - 50
			this.getLeftCateList()
			this.getRightCateList(0)
			
			// uni.login({
			// 	success: (msg) => {
			// 		//换取用户唯一标识openid
			// 		console.log(msg.code)
			// 	}
			// })
		},
		methods:{
			//获取左边分类列表数据
			getLeftCateList(){
				this.$http('category',{},'GET').then((res)=>{
					this.leftCateList = JSON.parse(res.data.data).levelOne
				})
				
				let uname='wen';
				let upwd='123456';
				
				
				// http.get('category').then((res3)=>{
				// 	console.log(res3)
				// })
				// this.$api.login(uname,upwd)
				// this.$api.test("abc")
			},
			//左侧切换选项动画
			activeChanged(i,item){
				this.active = i
				this.scrollTop = this.scrollTop === 0 ? 1: 0
				this.getRightCateList(item.id)
			},
			getRightCateList(i){
				if(i==0){
					i++
				}
				this.$http('category/'+(i),{},'GET').then((res)=>{
					this.rightCateList = JSON.parse(res.data.data)

					for(let j=0;j<this.rightCateList.length;j++){
						this.$http('good/category/'+this.rightCateList[j].id,{},'GET').then((res2)=>{
							// console.log(res2)
							let rightChild = JSON.parse(res2.data.data)
							// let rightChild = res2.data.data
							// console.log(rightChild)
							this.$set(this.rightCateList[j],'rightChilh',rightChild)
						})						
					}
					console.log(this.rightCateList)
				})
				
				// this.$http('category/'+7,{},'GET').then((res2)=>{
				// 	console.log(res2)
				// })
			},
			gotoDetail(id){
				uni.navigateTo({
					url:"../../subpkg/goods_detail/goods_detail?id=" + id
				})
			},
			gotoSearch() {
			  uni.navigateTo({
			    url:"../../subpkg/search/search"
			  })
			},
			...mapMutations('m_cart',["addToCart"]),
			addcart(item2) {
			      // JSON.stringify JSON转字符串，JSON.parse JSON字符串转对象			  
				  let StringItem2 = JSON.parse(JSON.stringify(item2)) ;
				  // console.log(StringItem2);
				  // 2. 组织一个商品的信息对象
			      const equipment = {
					   equipment_id: StringItem2.eq_id,       // 商品的Id
					   equipment_name: StringItem2.eq_name,   // 商品的名称
					   equipment_count: 1,                           // 商品的数量
					   equipment_icon: StringItem2.eq_icon, // 商品的图片
					   equipment_radioSwitch: true,                      // 商品的勾选状态
					   equipment_status: StringItem2.eq_status, //商品状态
					   equipment_status_type: StringItem2.eq_status_type,
					   equipment_quantity: StringItem2.eq_quantity, //该商品在仓库的总数
			      }
			      // 3. 通过 this 调用映射过来的 addToCart 方法，把商品信息对象存储到购物车中
			      this.addToCart(equipment)
			}
		},
		computed:{
			...mapGetters('m_cart',['total'])
		}
	}
</script>

<style lang="scss">

.scroll-view-container{
	display: flex;
}
.left-scroll-view{
	width: 200rpx;
	.left-scroll-view-item{
		background-color: #F7F7F7;
		line-height: 60px;
		text-align: center;
		font-size: 12px;
		
		&.active{
			background-color: #FFFFFF;
			position: relative;
			
			&::before{
				content:' ';
				display: block;
				width: 3px;
				height: 30px;
				background-color: #2979ff;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}	
}

.right-scroll-view-item{
	padding: 0;
	text-align: center;
}
.grid-item-box {
	margin: 0 auto;
}
.pic{
	width: 250rpx;
	height: 250rpx;
}
</style>
