<template>
	<view>
<!-- 		<uni-list>
			<uni-list-item title="" note=""></uni-list-item>
			<uni-list-item title="" note=""></uni-list-item>
		</uni-list> -->
		111
	</view>
</template>

<script>
	export default {
		name:"my-comment",
		data() {
			return {
				userComment:''
			};
		},
		onLoad() {
			console.log(11111111111)
			this.$http('comment/comments/1003/1',{},"GET").then((res) =>{
				console.log(res)
			})
		}
	}
</script>

<style lang="scss">

</style>