<template>
	<view class="goods-item">
		<view class="goods-item-left">
			<radio :checked="good.good_radioSwitch" color="#2979ff" v-if="showRdio" @click="radioClickHandler"></radio>
			<image :src="good.good_icon || defaultPic" class="goods-pic"></image>
		</view>
		<view class="goods-item-right">
			<view class="goods-name">
				<uni-section :title="good.good_name" :sub-title="good.good_color +'  '+good.good_storage"></uni-section>
				
			</view>
			<view class="goods-info-box">
				<view class="goods-price">
					￥{{good.good_price}}
				</view>
<!-- 				<view class="goods_status">
					<uni-tag :text="good.good_color" type="primary" :inverted="true"></uni-tag>
					<uni-tag :text="good.good_storage" type="primary" :inverted="true"></uni-tag>
				</view> -->
				<uni-number-box :min="1" :max="good.good_stock" :value="good.good_count" v-if="showNum" @change="numberChangeHandler"></uni-number-box>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		props:{
			good:{
				type: Object,
				default:{}
			},
			showRdio:{
				type:Boolean,
				default:false
			},
			showNum:{
				type:Boolean,
				default:false
			}
		},
		name:"my-good",
		data() {
			return {
				defaultPic: 'https://img3.doubanio.com/f/movie/8dd0c794499fe925ae2ae89ee30cd225750457b4/pics/movie/celebrity-default-medium.png'
			};
		},
		methods:{
			//这是radio组件的点击事件处理函数
			radioClickHandler(){
				//$emit 用来触发外界绑定的事件
				this.$emit('radio-change',{
					good_id: this.good.good_id,
					good_radioSwitch: !this.good.good_radioSwitch
				})
			},
			//监听到了NumberBox组件数量变化的事件
			numberChangeHandler(val){
				// console.log(val)
				//$emit 用来触发外界绑定的事件
				this.$emit('number-change',{
					good_id: this.good.good_id,
					good_count: val - 0
				})
			}
		}
	}
</script>

<style lang="scss">
.goods-item{
	width: 750rpx;
	box-sizing: border-box;
	display: flex;
	padding: 10px 5px;
	border-bottom: 1px solid #f0f0f0;
	.goods-item-left{
		margin-right: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.goods-pic{
			width: 100px;
			height: 100px;
			display: block;
		}
	}
	.goods-item-right{
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		.goods-name{
			font-size: 13px;
			font-weight: bold;
			margin-top: 1%;
			margin-left: 2%;
		}
	}
	.goods-info-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.goods-price{
			margin-bottom: 10%;
			margin-left: 2%;
			color: #ff0000;
		}
	}
}
</style>
