<template>
	<view>
		<uni-section title="收货地址信息" type="line">
			<view class="orderAdr">
				<text>{{item.receiveName}}&nbsp;&nbsp;&nbsp;&nbsp;{{item.receiveTel}}</text><br>
				<text>{{item.receiveAddress}}</text>				
			</view>
		</uni-section>
		<uni-section title="订单详情信息" type="line">
			<uni-card v-if="item.orderState==1" :title="'订单号：'+item.orderId" extra="待付款" note="Tips" spacing="0">
				<uni-list>
					<uni-list-item title="需支付" :rightText="'￥'+item.orderPayment"></uni-list-item>
				</uni-list>
				<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
					<uni-list-item :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
						:thumb="item2.firstMainImgPath"
						thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
						<view class="toggle" v-if="item2.state==1">
							<button type="warn" plain="true" size="mini" class="toggle-btu" @click="orderCancel(item2.idStr)">取消该项</button>
						</view>
						<view class="toggle" v-else>
							<button type="default" plain="true" size="mini" class="toggle-btu" disabled="true">已取消</button>
						</view>
				</uni-list>
				<button type="primary" plain="true" @click="paynow" class="toggle-btu2">立即支付</button>
			</uni-card>
			<uni-card v-else-if="item.orderState==2" :title="'订单号：'+item.orderId" extra="已付款" note="Tips" spacing="0">
				<uni-list>
					<uni-list-item title="支付时间" :rightText="item.orderPayTime"></uni-list-item>
					<uni-list-item title="实际支付" :rightText="'￥'+item.orderPayment"></uni-list-item>					
				</uni-list>
				<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
					<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
						:thumb="item2.firstMainImgPath"
						thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
				</uni-list>
				<button type="warn" plain="true" @click="confirmReceipt(item.orderId)">确认收货</button>
			</uni-card>
			<uni-card v-else-if="item.orderState==3" :title="'订单号：'+item.orderId" extra="已失效" note="Tips" spacing="0">
				<uni-list>
					<uni-list-item title="支付时间" :rightText="item.orderPayTime"></uni-list-item>
					<uni-list-item title="实际支付" :rightText="'￥'+item.orderPayment"></uni-list-item>					
				</uni-list>
				<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
					<uni-list-item :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
						:thumb="item2.firstMainImgPath"
						thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
				</uni-list>
			</uni-card>
			<uni-card v-else="item.orderState==4" :title="'订单号：'+item.orderId" extra="已完成" note="Tips" spacing="0">
				<uni-list>
					<uni-list-item title="提交时间" :rightText="item.createTimeString"></uni-list-item>
					<uni-list-item title="支付时间" :rightText="item.payTimeString"></uni-list-item>
					<uni-list-item title="完成时间" :rightText="item.finishTimeString"></uni-list-item>
					<uni-list-item title="实际支付" :rightText="'￥'+item.orderPayment"></uni-list-item>					
				</uni-list>
				<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
					<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
						:thumb="item2.firstMainImgPath"
						thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
						<view v-show="item2.state==1" class="toggle" v-if="!item2.isCommented">
							<button type="warn" plain="true" @click="toggle('center',item2.skuid,item2.idStr)" size="mini" class="toggle-btu">评价该商品</button>	
						</view>
						<view v-show="item2.state==1" class="toggle" v-else>
							<button type="warn" plain="true" size="mini" class="toggle-btu" @click="viewComments(item2.idStr)">查看我的评价</button>	
						</view>
				</uni-list>
				
			</uni-card>
		</uni-section>
		
		<view>
			<!-- 普通弹窗 -->
			<uni-popup ref="popup" background-color="#fff" @change="change">
				<view class="popup-content">
					<uni-section title="请为评价打星!" type="line" class="popup-content-item">
						<uni-rate v-model="rateValue" @change="onChange" class="rateItem"/>
					</uni-section>
					<uni-section title="请输入评价内容" type="line" class="popup-content-item">
						<uni-easyinput type="textarea" autoHeight="true" v-model="evaluateValue" placeholder="请输入评价内容" />
					</uni-section>
					<button class="evaluateSub" @click="evaluateSub">提交</button>
				</view>
			</uni-popup>
		</view>
		
		<view>
			<!-- 评价弹窗 -->
			<uni-popup ref="commentPopup" background-color="#fff" @change="change">
				<view class="popup-content">
					<uni-section title="我的评价等级:" type="line" class="popup-content-item">
						<uni-rate :value="commentPopupData.commLevel" :readonly="true" class="rateItem"/>
					</uni-section>
					<uni-section title="我的评价内容:" type="line" class="popup-content-item">
						<uni-easyinput disabled type="textarea" autoHeight="true" :value="commentPopupData.content"/>
					</uni-section>
				</view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				item:'',
				rateValue: 0,
				evaluateValue:'',
				skuid:'',
				odid:'',
				commentPopupData:''
			};
		},
		methods:{
			//确认收货按钮
			async confirmReceipt(oid){
				const [err,succ] = await uni.showModal({
					title:'提示',
					content:'确定确认收货吗？'
				}).catch(err => err)
				
				if(succ && succ.confirm){
					const orderDTO = {
						orderUid: uni.getStorageSync('userId'),
						orderFinishTime: Date.now(),
						orderId: oid
					}
					//确认收货请求
					this.$myApi.post('order/order',orderDTO).then((res)=>{
						// console.log(res)
					});
					uni.navigateBack({
						delta: 1
					});
					uni.$showMsg('确认成功！',1000,"success")
				}
			},
			//获取订单详情信息
			getOrderDetail(oid){
				this.$myApi.get('order/order/'+oid+'/'+uni.getStorageSync('userId')).then((res)=>{
					this.item = JSON.parse(res.data.data)
					console.log(this.item)
				})
			},
			change(e) {
				// console.log('当前模式：' + e.type + ',状态：' + e.show);
			},
			toggle(type,skuid,odid) {
				this.type = type
				// open 方法传入参数 等同在 uni-popup 组件上绑定 type属性
				this.$refs.popup.open(type)
				this.skuid = skuid
				this.odid = odid
			},
			onChange(e) {
				// console.log('rate发生改变:' + JSON.stringify(e))
				// console.log(this.rateValue);
			},
			evaluateSub(){
				if(this.rateValue == 0){
					// console.log("fen="+this.rateValue)
					return uni.$showMsg('请为订单打分！',1000,"error")
				}else if(this.evaluateValue == '' || !this.evaluateValue){
					const commentDTO = {
						commLevel: this.rateValue,
						content: "ta没有写文字评价！",
						uid: uni.getStorageSync("userId"),
						skuid: this.skuid,
						publishTime: Date.now(),
						orderDetailId: this.odid,
						commentImgList:[]
					}
					console.log(commentDTO)
					//发起评论请求
					this.$myApi.post('comment/comments/',commentDTO).then((res)=>{
						console.log(res)
					})
					this.evaluateValue=''
					this.rateValue=0
					this.odid = ''
					this.$refs.popup.close()
					uni.navigateBack({
						delta: 1
					});
					return uni.$showMsg('评价成功！',1000,"success")
				}else{
					const commentDTO = {
						commLevel: this.rateValue,
						content: this.evaluateValue,
						uid: uni.getStorageSync("userId"),
						skuid: this.skuid,
						publishTime: Date.now(),
						orderDetailId: this.odid,
						commentImgList:[]
					}
					console.log(commentDTO)
					//发起评论请求
					this.$myApi.post('comment/comments/',commentDTO).then((res)=>{
						console.log(res)
					})
					this.evaluateValue=''
					this.rateValue=0
					this.odid = ''
					this.$refs.popup.close()
					uni.navigateBack({
						delta: 1
					});
					return uni.$showMsg('评价成功！',1000,"success")
				}
			},
			viewComments(idStr){
				this.$refs.commentPopup.open()
				this.$myApi.get('comment/comment/'+uni.getStorageSync('userId')+'/'+idStr).then((res)=>{
					this.commentPopupData = JSON.parse(res.data.data)
				})
			},
			paynow(){
				uni.navigateTo({
					url:'../my-payment/my-payment?orderId='+this.item.orderId
				})
			},
			async orderCancel(idStr){
				const [err,succ] = await uni.showModal({
					title:'提示',
					content:'确定取消订单吗？',
					cancelText:'返回'
				}).catch(err => err)
				
				if(succ && succ.confirm){
					//确认取消订单请求
					this.$myApi.delete('order/order/'+idStr+'/'+uni.getStorageSync('userId')).then((res)=>{
						// console.log(res)
					});
					uni.navigateBack({
						delta: 1
					});
					uni.$showMsg('取消该项成功！',1000,"success")
				}
			}
		},
		onLoad(options) {
			this.getOrderDetail(options.oid);
		}
	}
</script>

<style lang="scss">
.orderAdr{
	margin-left: 20px;
	line-height: 30px;
}
.popup-content{
	height: auto;
	width: 300px;
	padding: 0 8px 8px 8px;
}
.evaluateSub{
	margin-top: 10px;
	background-color: #2979ff;
	color: white;
}
.toggle{
	text-align: right;
	margin: 0 14px;
	.toggle-btu{
		padding: 0 6px;
	}
}
.toggle-btu2{
	margin: 0 14px;
}
</style>
