<template>
	<view>
		<my-login @openLogin="getdata" v-if="openLogin || !userinfo"></my-login>
		<my-userinfo v-else></my-userinfo>
		
		<!-- <my-login></my-login> -->
	</view>
</template>

<script>
	import badgeMix from '../../mixins/tabbar-badge.js'
	import { mapState } from 'vuex'
	
	export default {
		mixins: [badgeMix],
		data() {
			return {
				openLogin:true
			};
		},
		onShow() {
			if(uni.getStorageSync('userinfo')){
				this.openLogin = false
			}else if(uni.getStorageSync('userinfo') == ''){
				this.openLogin = true
			}else{
				this.openLogin = false
			}
			
		},
		computed:{
			...mapState('m_user',['userinfo'])
		},
		methods:{
			getdata(data){
				this.openLogin = data
			}
		}
	}
</script>

<style lang="scss">

</style>
