<template>
    <view>
        <uni-segmented-control :current="current" :values="items" @clickItem="onClickItem" styleType="text" activeColor="#2979ff"></uni-segmented-control>
        <view class="content">
			<!-- 待付款栏 -->
            <view v-show="current == 0">
                <view class="orderList">
					<view class="noMore" v-if="orderList == ''">
						<image src="../../static/my-pic/无结果.png" mode="aspectFit"></image><br>
						<text class="noMoreText">无更多结果</text>
					</view>
                	<uni-section v-else v-for="(item,i) in orderList" :key="i" :title="item.orderCreateTime" type="line">
						<uni-card :title="'订单号：'+item.orderId" extra="待付款" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
                			<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
                			</uni-list>
                		</uni-card>
                	</uni-section>
                </view>
            </view>
			<!-- 已付款栏 -->
            <view v-show="current == 1">
                <view class="orderList">
					<view class="noMore" v-if="orderList == ''">
						<image src="../../static/my-pic/无结果.png" mode="aspectFit"></image><br>
						<text class="noMoreText">无更多结果</text>
					</view>
                	<uni-section v-else v-for="(item,i) in orderList" :key="i" :title="item.orderCreateTime" type="line">
						<uni-card :title="'订单号：'+item.orderId" extra="已付款" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
							<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
							</uni-list>
							
						</uni-card>
						<view class="confirmReceipt">
							<button type="warn" plain="true" @click="confirmReceipt(item.orderId)" size="mini">确认收货</button>
						</view>
                	</uni-section>
                </view>
            </view>
			<!-- 已完成栏 -->
			<view v-show="current == 2">
			    <view class="orderList">
					<view class="noMore" v-if="orderList == ''">
						<image src="../../static/my-pic/无结果.png" mode="aspectFit"></image><br>
						<text class="noMoreText">无更多结果</text>
					</view>
			    	<uni-section v-else v-for="(item,i) in orderList" :key="i" :title="item.orderCreateTime" type="line">
						<uni-card :title="'订单号：'+item.orderId" extra="已完成" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
							<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
							</uni-list>
						</uni-card>
			    	</uni-section>
			    </view>
			</view>
			<!-- 全部订单栏 -->
            <view v-show="current == 3">
                <view class="orderList">
					<view class="noMore" v-if="orderList == ''">
						<image src="../../static/my-pic/无结果.png" mode="aspectFit"></image><br>
						<text class="noMoreText">无更多结果</text>
					</view>
                	<uni-section v-else v-for="(item,i) in orderList" :key="i" :title="item.orderCreateTime" type="line">
						<uni-card v-if="item.orderState==1" :title="'订单号：'+item.orderId" extra="待付款" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
                			<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
                			</uni-list>
                		</uni-card>
						<uni-card v-else-if="item.orderState==2" :title="'订单号：'+item.orderId" extra="已付款" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
							<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
							</uni-list>
						</uni-card>
						<uni-card v-else-if="item.orderState==3" :title="'订单号：'+item.orderId" extra="已失效" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
							<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
							</uni-list>
						</uni-card>
						<uni-card v-else="item.orderState==4" :title="'订单号：'+item.orderId" extra="已完成" note="Tips" spacing="0" @click="gotoOrderDetail(item.orderId)">
							<uni-list v-for="(item2,i2) in item.orderDetailList" :key="i2">
								<uni-list-item v-show="item2.state==1" :title="item2.goodTitle" :note="item2.color +'  '+item2.storage + '    ' + '×'+item2.amount"
									:thumb="item2.firstMainImgPath"
									thumb-size="lg" :rightText="'￥'+item2.unitPayment" />
							</uni-list>
						</uni-card>
                	</uni-section>
                </view>
            </view>
        </view>
    </view>
</template>

<script>
	export default {
		data() {
			return {
				items: ['待付款','已付款', '已完成', '全部订单'],
				current: 3,
				orderList:''
			};
		},
		onLoad(options) {
			this.current = options.current
		},
		onShow() {
			this.choiceOption();
		},
		methods:{
			gotoOrderDetail(oid){
				uni.navigateTo({
					url:'../order_detail/order_detail?oid='+oid
				})
			},
			onClickItem(e) {
			  if (this.current != e.currentIndex) {
				this.current = e.currentIndex;
				this.choiceOption();
			  }
			},
			choiceOption(){
				if(this.current == 0){
					this.$myApi.get('order/orders/'+uni.getStorageSync('userId')+'/'+1).then((res)=>{
						this.orderList = JSON.parse(res.data.data)
						console.log(this.orderList)
					})				
				}else if(this.current == 1){
					this.$myApi.get('order/orders/'+uni.getStorageSync('userId')+'/'+2).then((res)=>{
						this.orderList = JSON.parse(res.data.data)
						console.log(this.orderList)
					})					
				}else if(this.current == 2){
					this.$myApi.get('order/orders/'+uni.getStorageSync('userId')+'/'+4).then((res)=>{
						this.orderList = JSON.parse(res.data.data)
						console.log(this.orderList)
					})					
				}else{
					this.$myApi.get('order/orders/'+uni.getStorageSync('userId')).then((res)=>{
						this.orderList = JSON.parse(res.data.data)
						console.log(this.orderList)
					})					
				}
			},
			//确认收货
			async confirmReceipt(oid){
				const [err,succ] = await uni.showModal({
					title:'提示',
					content:'确定确认收货吗？'
				}).catch(err => err)
				
				if(succ && succ.confirm){
					const orderDTO = {
						orderUid: uni.getStorageSync('userId'),
						orderFinishTime: Date.now(),
						orderId: oid
					}
					this.$myApi.post('order/order',orderDTO).then((res)=>{
						if(res.data.status == 200){
							uni.$showMsg('确认成功！',1000,"success")
							this._time = setTimeout(() => {
								this.current = 2;
								this.choiceOption();								
								clearTimeout(this._time);
							}, 1000);							
						}
					});
				}
			}
		},

	}
</script>

<style lang="scss">
.noMore{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
	image{
		height: 90px;
		width: 90px;
	}
	.noMoreText{
		font-size: 14px;
		color: gray;
		margin-top: 15px;
	}
}
.orderList{
	padding: 0;
}
.currentItem{
	text-align: right;
	padding-top: 14px;
}
.confirmReceipt{
	text-align: right;
	margin: 0 14px;
}
</style>
