<template>
	<view>
		<uni-section title="收货信息"type="line">
			<view class="" class="address-info-box">
				
			
				<view class="row1">
					<view class="row1-left">
						<view class="username">收货人：{{orderInfo.receiveName}}</view>
					</view>
					<view class="row1-right">
						<view class="phone">电话：{{orderInfo.receiveTel}}</view>
					</view>
				</view>
				<view class="row2">
					<view class="row2-left">收货地址：</view>
					<view class="row2-right">{{orderInfo.receiveAddress}}</view>
				</view>	
			</view>	
		</uni-section>		
		
		
		<!-- 底部的边框线 -->
		<image src="/static/cart_border@2x.png" class="address-border"></image>
		
		<uni-section title="商品信息" type="line">
			
		</uni-section>
		<uni-list v-for="(item,i) in orderInfo.orderDetailList" :key="i">
			<uni-list-item v-show="item.state==1" :title="item.goodTitle" :note="item.color +'  '+item.storage + '    ' + '×'+item.amount"
				:thumb="item.firstMainImgPath"
				thumb-size="lg" :rightText="'￥'+item.unitPayment" />
		</uni-list>
		
<!-- 		<view  @click="pay">
			{{orderInfo.orderPayment}}
		</view> -->
		<view class="btn-bottom">
			<button class="btn-settle" @click="pay">
				立即支付(<text class="orderPayment">￥{{orderInfo.orderPayment}}</text>)
			</button>
		</view>
		
	</view>
</template>

<script>
	import {mapMutations} from 'vuex'
	export default {
		data() {
			return {
				orderId:'',
				orderInfo:''
			};
		},
		methods:{
			...mapMutations('m_user',['updateAddress']),
			...mapMutations('m_cart',['removeEquipmentById']),
			pay(){
				let orderDTO = {
					orderPayTime: Date.now(),
					orderId: this.orderId,
					orderUid: uni.getStorageSync('userId')
				}
				this.$myApi.post('order/orders/payment',orderDTO).then((res)=>{
					if(res.data.status == 200){
						this.updateAddress(null),
						uni.reLaunch({
							url: '../../pages/my/my',
							success() {
								uni.$showMsg("支付成功！",1500,'success')
							}
						})
					}
				})
			}
		},
		onLoad(options) {
			this.orderId = options.orderId
			this.$myApi.get('order/order/'+options.orderId+'/'+uni.getStorageSync('userId')).then((res)=>{
				this.orderInfo = JSON.parse(res.data.data)
				console.log(this.orderInfo)
			})
		}
	}
</script>

<style lang="scss">
.address-border{
	display: flex;
	width: 100%;
	height: 5px;
}
.usection{
	padding: 0px;
}
.address-info-box{
	font-size: 12px;
	height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2px 15px;
	.row1{
		display: flex;
		justify-content: space-between;

		.row1-right{
			display: flex;
			justify-content: space-between;
			.phone{
				
			}
		}
	}
	.row2{
		display: flex;
		align-items: center;
		margin-top: 10px;
		.row2-left{
			white-space: nowrap;
		}
		.row2-right{
			
		}
	}
}
.btn-bottom{
	position: fixed;
	bottom: 10px;
	left: 0;
	width: 100%;
}
.btn-settle{
	display: fixed;
	bottom: 0;
	width: 92%;
	// height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background-color: #2979ff;
	color: white;
	text-align: center;
	.orderPayment{
		font-size: 20px;
		color: #00aaff;
	}
}
</style>
