<template>
	<view class="">
		<view>
			<view class="search-box">
				<uni-search-bar @confirm="confirm" @input="input" :radius="100" v-model="kw"/>
			</view>
		</view>
		
		<view class="sugg-list" v-if="kw.length !== 0">
			
			<view v-if="searchResults.length !== 0">
				<uni-grid :column="2" :square="false" :showBorder="false" class="right-scroll-view-item">
					<uni-grid-item v-for="(item,i) in searchResults" :key="i">
						<view class="grid-item-box" @click="gotoDetail(item.good.id)">
							<image class="pic" :src="item.mainImgPath" mode="aspectFit"></image><br>
							<text>{{item.good.title}}</text>									
						</view>
					</uni-grid-item>
				</uni-grid>
			</view>
			
			<view v-else>
				<view class="noMore">
					<image src="../../static/my-pic/无结果.png" mode="aspectFit"></image><br>
					<text class="noMoreText">无更多结果</text>
				</view>
			</view>
		</view>		
		
		<view class="history-box" v-else>
			<view class="history-title">
				<text>搜索历史</text>
				<uni-icons type="trash" size="17" @click="cleanHistory"></uni-icons>
			</view>
			<view class="history-list">
				<uni-tag :text="item" v-for="(item,i) in histories" :key="i" inverted="true"
					@click="gotoGoodsList(item)"></uni-tag>
			</view>
		</view>
	</view>

</template>

<script>
	export default {
		data() {
			return {
				oldValue:'',
				searchResults:[],
				// 延时器的 timerId
				timer: null,
				// 搜索关键词
				kw: '',
				historyList: []
			};
		},
		onLoad() {
		  this.historyList = JSON.parse(uni.getStorageSync('kw') || '[]')
		},
		methods:{
			input(e) {
			  // 清除 timer 对应的延时器
			  clearTimeout(this.timer)
			  // 重新启动一个延时器，并把 timerId 赋值给 this.timer
			  this.timer = setTimeout(() => {
			    // 如果 500 毫秒内，没有触发新的输入事件，则为搜索关键词赋值
			    this.kw = e
			    this.getSearchResults(this.kw)
			  }, 500)
			},
			getSearchResults(kw){
				// var regex = new RegExp(kw, "i")
				
				
				this.$http('good/search/'+kw,{},"GET").then((res)=>{
					this.searchResults = JSON.parse(res.data.data)
					console.log(this.searchResults.length)
				})
				
				this.saveSearchHistory()
			},
			// 保存搜索关键词为历史记录
			saveSearchHistory() {			
			  // 1. 将 Array 数组转化为 Set 对象
			  const set = new Set(this.historyList)
			  // 2. 调用 Set 对象的 delete 方法，移除对应的元素
			  set.delete(this.kw)
			  // 3. 调用 Set 对象的 add 方法，向 Set 中添加元素
			  set.add(this.kw)
			  // 4. 将 Set 对象转化为 Array 数组
			  this.historyList = Array.from(set)
			    // 调用 uni.setStorageSync(key, value) 将搜索历史记录持久化存储到本地
			    uni.setStorageSync('kw', JSON.stringify(this.historyList))
			},
			// 清空搜索历史记录
			cleanHistory() {
			  // 清空 data 中保存的搜索历史
			  this.historyList = []
			  // 清空本地存储中记录的搜索历史
			  uni.setStorageSync('kw', '[]')
			},
			gotoGoodsList(item){
				this.confirm(item);
				// this.kw = item
				
			},
			gotoDetail(id){
				uni.navigateTo({
					url:"../../subpkg/goods_detail/goods_detail?id=" + id
				})
			},
			confirm(e){
				this.kw = e;
			}
		},
		computed:{
			histories(){
				// 注意：由于数组是引用类型，所以不要直接基于原数组调用 reverse 方法，以免修改原数组中元素的顺序
				// 而是应该新建一个内存无关的数组，再进行 reverse 反转
				return [...this.historyList].reverse()
			}
		}
	}
</script>

<style lang="scss">
	.search-box {
		position: sticky;
		top: 0;
		z-index: 999;
		background-color: #2979ff;
	}


	.history-box {
		padding: 0 5px;

		.history-title {
			display: flex;
			justify-content: space-between;
			height: 40px;
			align-items: center;
			font-size: 13px;
			border-bottom: 1px solid #efefef;
		}

		.history-list {
			display: flex;
			flex-wrap: wrap;
		}

		.uni-tag {
			margin-top: 5px;
			margin-right: 5px;
		}
	}
.right-scroll-view-item{
	font-size: 12px;
	text-align: center;
}

.pic{
	width: 320rpx;
	height: 320rpx;
}
.noMore{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
	image{
		height: 90px;
		width: 90px;
	}
	.noMoreText{
		font-size: 14px;
		color: gray;
		margin-top: 15px;
	}
}
</style>
