<template>
	<view class="good-detail-container">
		<!-- 标题 -->
		<uni-title :title="GoodInfo.title" type="h1" align="center"></uni-title>
		<!-- 轮播 -->
		<view>
			<swiper :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000" :circular="true">
				<swiper-item v-for="(item,i) in GoodInfo.mainImgList" :key="i">
					<image :src="item" mode="aspectFit" @click="preview(GoodInfo.mainImgList,i)"></image>
				</swiper-item>
			</swiper>
		</view>
		<!-- 价格 -->
		<view class="">
			<uni-title :title="'￥'+GoodInfo.lowestPrice" type="h1" align="center" color="#2979ff"></uni-title>
		</view>
		<!-- 分段器 -->
		<view class="uni-padding-wrap uni-common-mt">
			<uni-segmented-control :current="current" :values="items" style-type="text" active-color="#2979ff"
				@clickItem="onClickItem" />
		</view>
		<view class="content">
			<view v-if="current === 0">
				<view class="PicInfo" v-for="(item2,i2) in GoodInfo.introImgList" :key="i2">
					<image :src="item2" mode="widthFix"></image>
				</view>

				<view class="goods_nav">
					<uni-goods-nav :fill="true" :options="options" :buttonGroup="buttonGroup" @click="onClick"
						@buttonClick="buttonClick"/>
				</view>
			</view>
			<view v-if="current === 1">
				<view class="noMore" v-if="userComment.length<1">
					<image src="../../static/my-pic/无评论.png" mode="aspectFit"></image><br>
					<text class="noMoreText">暂无评论</text>
				</view>
				
				<view v-else class="" v-for="(item,i) in userComment" :key="i">
					<uni-card title="商城用户" :isFull="true" :extra="item.publishTime" thumbnail="https://thirdwx.qlogo.cn/mmopen/vi_32/POgEwh4mIHO4nibH0KlMECNjjGxQUq24ZEaGT4poC6icRiccVGKSyXwibcPq4BWmiaIGuG1icwxaQX6grC9VemZoJ8rg/132">
						<uni-rate :readonly="true" :value="item.commLevel" size="14"/>
						<text class="uni-body">{{item.content}}</text>
					</uni-card>					
				</view>
			</view>
		</view>
		<!-- 商品选择弹窗 -->
		<!-- <button type="default" @click="openSkuPopup()">1111</button> -->
		<vk-data-goods-sku-popup ref="skuPopup" v-model="skuKey" border-radius="20" :localdata="skuGoodInfo"
			:mode="skuMode" @open="onOpenSkuPopup" @close="SkuPopup" @add-cart="addCart" @buy-now="buyNow"
			price-color="#2979ff" buy-now-background-color="#1E83FF" add-cart-background-color="#088FEB"
			theme="blue" :amount-type="0">
		</vk-data-goods-sku-popup>

		<view>
			<!-- 普通弹窗 -->
			<uni-popup ref="popup" background-color="#fff">
				<view class="popup-title">
					分享到
				</view>
				<view class="popup-content">
					<view class="popup-item">
						<button class="popupBtu" open-type="share"><image class="popupPic" src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-dc-site/c2b17470-50be-11eb-b680-7980c8a877b8.png" mode="aspectFit"></image></button>
						<text>微信</text>
					</view>
					<view class="popup-item">
						<button class="popupBtu" open-type="share"><image class="popupPic" src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-dc-site/d684ae40-50be-11eb-8ff1-d5dcf8779628.png" mode="aspectFit"></image></button>
						<text>支付宝</text>
					</view>
					<view class="popup-item">
						<button class="popupBtu" open-type="share"><image class="popupPic" src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-dc-site/e7a79520-50be-11eb-b997-9918a5dda011.png" mode="aspectFit"></image></button>
						<text>QQ</text>
					</view>
					<view class="popup-item">
						<button class="popupBtu" open-type="share"><image class="popupPic" src="https://vkceyugu.cdn.bspapp.com/VKCEYUGU-dc-site/0dacdbe0-50bf-11eb-8ff1-d5dcf8779628.png" mode="aspectFit"></image></button>
						<text>微博</text>
					</view>
				</view>
				<view>
					<button @click="cancelShare">取消</button>
				</view>
			</uni-popup>
		</view>
	</view>
</template>

<script>
	import {
		mapState,
		mapMutations,
		mapGetters
	} from "vuex"
	export default {
		data() {
			return {
				userComment:'',
				// 是否打开SKU弹窗
				skuKey:false,
				// SKU弹窗模式
				skuMode:1,
				//后端请求过来的商品数据
				GoodInfo: '',
				items: ['介绍', '评论'],
				current: 0,
				options: [{
					icon: 'redo',
					text: '分享',
					info: 0
				},{
					icon: 'cart',
					text: '购物车',
					info: 1
				}],
				buttonGroup: [{
						text: '加入购物车',
						backgroundColor: 'linear-gradient(90deg, #60F3FF, #088FEB)',
						color: '#fff'
					},
					{
						text: '立即购买',
						backgroundColor: 'linear-gradient(90deg, #1E83FF, #0053B8)',
						color: '#fff'
					}
				],
				skuGoodInfo:{},
				//三秒跳转登录倒计时
				seconds:3,
				//定时器的ID
				timer:null
			};
		},
		onLoad(options) {
			const id = options.id
			this.getGoodsDetil(id)
		},
		onShareAppMessage(res){
			return {
				title: '【三星商城】'+this.GoodInfo.title,
				path: '/subpkg/goods_detail/goods_detail?id='+this.GoodInfo.goodId,
				imageUrl: this.GoodInfo.mainImgList[0]
			}
		},
		onShareTimeline(res){
			return {
				title: '【三星商城】'+this.GoodInfo.title,
				path: '/subpkg/goods_detail/goods_detail?id='+this.GoodInfo.goodId,
				imageUrl: this.GoodInfo.mainImgList[0]
			}
		},
		methods: {
			...mapMutations('m_cart', ['addToCart','updateAllEquipmentRadioSwitch']),
			openSkuPopup(){
				this.skuKey=true
			},
			getGoodsDetil(id) {
				this.$http('good/detail/' + id, {}, 'GET').then((res) => {
					this.GoodInfo = res.data

					let T_sku_list = new Array();
					for(let i=0;i<this.GoodInfo.goodDetailList.length;i++){
						T_sku_list[i]={
							"_id": this.GoodInfo.goodDetailList[i].skuid,
							"goods_id": this.GoodInfo.goodDetailList[i].skuid,
							"goods_name": this.GoodInfo.title,
							"image": this.GoodInfo.mainImgList[0],
							"price": this.GoodInfo.goodDetailList[i].price,
							"sku_name_arr":[this.GoodInfo.goodDetailList[i].color,this.GoodInfo.goodDetailList[i].storage],
							"stock": this.GoodInfo.goodDetailList[i].stock
						}
					}
					
					let T_color_list = [];
					for(let i=0;i<this.GoodInfo.colorList.length;i++){
						T_color_list[i]={
							"name":this.GoodInfo.colorList[i]
						}
					}
					
					let T_storage_list = [];
					for(let i=0;i<this.GoodInfo.storageList.length;i++){
						T_storage_list[i]={
							"name":this.GoodInfo.storageList[i]
						}
					}
					
					let T_spec_list = [];
					T_spec_list[0]={
						"list": T_color_list,
						"name": "款式"
					},
					T_spec_list[1]={
						"list": T_storage_list,
						"name": "类型"
					}
					
					
					//将封装好的东西塞进去再次封装
					this.skuGoodInfo = {
						"_id": this.GoodInfo.goodId,
						"name": this.GoodInfo.title,
						"goods_thumb": this.GoodInfo.mainImgList[0],
						"sku_list": T_sku_list,
						"spec_list": T_spec_list
					}
				})

			},
			preview(Pics, i) {
				uni.previewImage({
					current: i,
					urls: Pics
				})
			},
			onClick(e) {
				if (e.content.text === '购物车') {
					uni.switchTab({
						url: '../../pages/cart/cart'
					})
				} else if (e.content.text === '分享') {
					this.$refs.popup.open("bottom")
				}
			},
			buttonClick(e) {
				if(e.content.text === '加入购物车'){
					//只显示购物车按钮
					this.skuMode = 2;
					this.skuKey = true;
					
				}else if(e.content.text === '立即购买'){
					if(!this.userinfo){
						return this.delayNavigate()
					}else{
						//只显示立即购买按钮
						this.skuMode = 3;
						this.skuKey = true;						
					}
				}
			},
			//分段器
			onClickItem(e) {
				if (this.current !== e.currentIndex) {
					this.current = e.currentIndex				
				}
				if(this.current == 1){
					this.$http('comment/comments/'+this.GoodInfo.goodId+'/'+1,{},'GET').then((res) =>{
						// console.log(res)
						this.userComment = JSON.parse(res.data.data)
					})
				}	
			},
			cancelShare(){
				this.$refs.popup.close()
			},
		    // sku组件 开始-----------------------------------------------------------
		    onOpenSkuPopup(){
			  // console.log("监听 - 打开sku组件");
		    },
		    SkuPopup(){
			  // console.log("监听 - 关闭sku组件");
		    },
			addCart(myGood){
				// console.log(myGood)
					// 2. 组织一个商品的信息对象
					const good = {
					   good_id: myGood.goods_id,       // 商品的Id
					   good_name: myGood.goods_name,   // 商品的名称
					   good_price: myGood.price,
					   good_count: myGood.buy_num,		// 商品的数量
					   good_icon: myGood.image, 		// 商品的图片
					   good_radioSwitch: true,                      // 商品的勾选状态
					   good_stock: myGood.stock, //该商品在仓库的总数
					   good_color: myGood.sku_name_arr[0],
					   good_storage: myGood.sku_name_arr[1]
					}
				// 	// 3. 通过 this 调用映射过来的 addToCart 方法，把商品信息对象存储到购物车中
					this.addToCart(good)
					this.skuKey=false
			},
			buyNow(myGood){
				const good = {
				   good_id: myGood.goods_id,       // 商品的Id
				   good_name: myGood.goods_name,   // 商品的名称
				   good_price: myGood.price,
				   good_count: myGood.buy_num,		// 商品的数量
				   good_icon: myGood.image, 		// 商品的图片
				   good_color: myGood.sku_name_arr[0],
				   good_storage: myGood.sku_name_arr[1]
				}
				// this.updateAllEquipmentRadioSwitch(false)
				// this.addToCart(good)
				this.skuKey = false;
				uni.setStorageSync('buyNowGoods',good)
				uni.navigateTo({
					url:'../order_sub/order_sub'
				})
			},
			...mapMutations('m_user',['updateRedirectInfo']),
			//未登录点击购买则自动跳转至登录界面
			showTips(n){
				uni.showToast({
					icon:'none',
					title:'请先登录！' + n + ' 秒后自动跳转到登录页',
					mask:true,
					duration:1500
				})
			},
			//延时跳转
			delayNavigate(){
				//展示提示消息，此时 seconds 的值等于 3
				this.showTips(this.seconds)
				
				this.timer = setInterval(() => {
					this.seconds--
					if(this.seconds <= 0){
						//清除计时器
						clearInterval(this.timer)
						uni.switchTab({
							url:"/pages/my/my",
							success: () => {
								this.updateRedirectInfo({
									openType:'navigateTo',
									from:"/subpkg/goods_detail/goods_detail?id="+this.GoodInfo.goodId
								})
							}
						})
						this.seconds = 3
						//终止后续代码的运行（当秒数为 0 时，不再展示 toast 提示消息）
						return
					}
					this.showTips(this.seconds)
				},1000)
			}
		},
		computed: {
			// 调用 mapState 方法，把 m_cart 模块中的 cart 数组映射到当前页面中，作为计算属性来使用
		 // ...mapState('模块的名称', ['要映射的数据名称1', '要映射的数据名称2'])
			...mapState('m_cart', ['cart']),
			...mapGetters('m_cart', ['total']),
			...mapState('m_user',['userinfo'])
		},
		watch: {
			total: {
				//handler属性来定义监听器的function处理函数
				handler(newVal) {
					const findResult = this.options.find(x => x.text === '购物车')
					if (findResult) {
						findResult.info = newVal
					}
				},
				//immediate属性用来声明此监听器，是否在页面初次加载完毕后立即调用
				immediate: true
			}
		}
	}
</script>

<style lang="scss">
.good-detail-container{
	padding-bottom: 50px;
}
swiper {
	height: 500rpx;

	image {
		height: 100%;
		width: 100%;
	}
}

.PicInfo {
	width: 100%;

	image {
		height: 100%;
		width: 100%;
	}
}

.goods_nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
.noMore{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
	image{
		height: 90px;
		width: 90px;
	}
	.noMoreText{
		font-size: 14px;
		color: gray;
		margin-top: 15px;
	}
}
.popup-title{
	text-align: center;
	color: gray;
}
.popup-content{
	display: flex;
	justify-content: space-around;
	.popup-item{
		width: 175rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-around;
		padding: 10px 0;
		font-size: 13px;
		.popupBtu{
			width: 160rpx;
			height: 160rpx;
			padding: 0;
			
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 26rpx;
			font-family: PingFang SC;
			font-weight: 500;
			color: #666666;
			border: none;
			background-color: transparent;
			&::after{
				border:none;
			}
		}
		.popupPic{
			width: 100rpx;
			height: 100rpx;
		}		
	}

}
</style>
