<template>
	<view>
		<view class="search-box">
			<my-search @myclick="gotoSearch()"></my-search>
		</view>
		<!-- 轮播图 -->
		<swiper class="swiper-box" :indicator-dots="true" :autoplay="true" :interval="3000" :duration="1000" :circular="true">
			<swiper-item class="swiper-item" v-for="(item,i) in swiperList" :key="i">
				<image class="swiper-item-img" :src="item" mode="aspectFit"></image>
			</swiper-item>
		</swiper>
		<view class="pic">
			<image class="pic" src="http://gdp.alicdn.com/imgextra/i4/370627083/O1CN01PPUVTk22C47hgNBnc_!!370627083.jpg" mode="aspectFill"></image>			
		</view>
		<view class="recommend">
			<uni-grid :column="2" :square="false">
				<uni-grid-item class="recommendItem" v-for="(item,i) in recommendData">
					<view class="grid-item-box" @click="gotoDetail(item.good.id)">
						<image :src="item.mainImgPath" mode="aspectFit"></image>
						<text class="goodTitle">{{item.good.title}}</text><br>
						<uni-tag v-if="item.good.lowestPrice<=1599" class="recommendTag" text="秒杀" type="error" size="mini"/>
						<uni-tag v-else-if="item.good.lowestPrice<=9999" class="recommendTag" text="热销" type="warning" size="mini"/>
						<text class="goodPrice">￥{{item.good.lowestPrice}}</text>						
					</view>
				</uni-grid-item>
			</uni-grid>
		</view>
	</view>

</template>

<script>
	import { mapGetters,mapState } from 'vuex'
	import badgeMix from '../../mixins/tabbar-badge.js'
	
	export default {
		mixins: [badgeMix],
		data() {
			return {
				// 轮播图
				swiperList:[
					'https://image.samsungeshop.com.cn/adv/2022/12/06/638e15a3e4b04c32bc2fb4f5.jpg',
					'https://image.samsungeshop.com.cn/adv/2022/12/05/638e156de4b04c32f3e54b7e.jpg',
					'https://image.samsungeshop.com.cn/adv/2022/11/23/637e00b9e4b04c32bc2fb20e.jpg',
					'https://image.samsungeshop.com.cn/adv/2022/10/31/635f69f1e4b04c32bc2fa666.jpg'
				],
				recommendData:''
			};
		},
		onLoad() {
			// this.getSwiperList()
			this.getRecommend()
		},
		onShareAppMessage(e){
			return{
				title: '【三星商城】惠不可挡 好价不停',
				path: '/pages/home/home'				
			}
		},
		onShareTimeline(){
			return{
				title: '【三星商城】惠不可挡 好价不停',
				path: '/pages/home/home'				
			}	
		},
		methods:{
			//获取轮播图数据
			// getSwiperList(){
			// 	const db = uniCloud.database();
			// 	const swiperDataTable = db.collection('yun-swiperdata')
			// 	swiperDataTable.get().then((res) => {
			// 		this.swiperList = res.result.data
			// 	}).catch((err) =>{
			// 		uni.$showMsg();
			// 		console.log(err.code);
			// 		console.log(err.message);
			// 	})
			// },
			gotoSearch() {
			  uni.navigateTo({
			    url:"../../subpkg/search/search"
			  })
			},
			getRecommend(){
				this.$http('good/recommend',{},'GET').then((res) =>{
					this.recommendData = JSON.parse(res.data.data)
					// console.log(this.recommendData)
				})
			},
			gotoDetail(id){
				uni.navigateTo({
					url:"../../subpkg/goods_detail/goods_detail?id=" + id
				})
			}
		}
	}
</script>

<style lang="scss">
.search-box {
  // 设置定位效果为“吸顶”
  position: sticky;
  // 吸顶的“位置”
  top: 0;
  // 提高层级，防止被轮播图覆盖
  z-index: 999;
}
.swiper-box{
	height: 400rpx;
}
.swiper-item{
	height: 100%;
	width: 100%;	
}
.swiper-item-img{
	height: 100%;
	width: 100%;	
}

.nav-list{
	display: flex;
	justify-content: space-around;
	margin: 15px 0;
}
.nav-img{
	margin: 10rpx;
	width: 230rpx;
	height: 240rpx;
	border-radius: 20%;
}
.pic{
	width: 100%;
	margin: 0;
	padding: 0;
}
.recommend{
	margin: 0;
	padding: 0;
	text-align: center;
}
.recommendItem{
	.grid-item-box{
		padding: 3px;
	}
	image{
		width: 350rpx;
		height: 350rpx;
	}
	.goodTitle{
		font-size: 14px;
	}
	.goodPrice{
		color: #2979ff;
		font-weight: bold;
	}
	.recommendTag{
		font-weight: bold;
	}
}

</style>
