<template>
	<view class="my-settle-container">
		<label class="radio" @click="">
			<radio :checked="isFullCheck" color="#2979ff" @click="changeAllState"/><text>全选</text>
		</label>
		
		<view class="amount-box">
			<text class="amount">已选：{{checkedCount}}/{{total}}</text>
			<text class="checkedGoodsAmount">&nbsp;&nbsp￥{{checkedGoodsAmount}}</text>
		</view>
		
		<view class="btn-settle" @click="settlement">
			结算({{checkedCount}})
		</view>
	</view>
</template>

<script>
	import { mapGetters,mapMutations,mapState } from 'vuex'
	export default {
		name:"my-settle",
		data() {
			return {
				//三秒跳转登录倒计时
				seconds:3,
				//定时器的ID
				timer:null
			};
		},
		computed:{
			...mapGetters('m_cart',['checkedCount','total','checkedGoodsAmount']),
			...mapState('m_user',['userinfo']),
			...mapState('m_cart',['cart']),
			isFullCheck(){
				return this.total === this.checkedCount
			}
		},
		methods:{
			...mapMutations('m_cart',['updateAllEquipmentRadioSwitch']),
			...mapMutations('m_user',['updateRedirectInfo']),
			changeAllState(){
				this.updateAllEquipmentRadioSwitch(!this.isFullCheck)
			},
			settlement(e){
				//如果没勾选
				if(!this.checkedCount) return uni.$showMsg('请勾选商品!',1000,'error')
				//如果没登录
				else if(!this.userinfo) return this.delayNavigate()
				
				else{
					uni.navigateTo({
						url:'../../subpkg/order_sub/order_sub'
					})
				}
			},


			//未登录点击结算则自动跳转至登录界面
			showTips(n){
				uni.showToast({
					icon:'none',
					title:'请登录后再结算！' + n + ' 秒后自动跳转到登录页',
					mask:true,
					duration:1500
				})
			},
			//延时跳转
			delayNavigate(){
				this.seconds = 3
				//展示提示消息，此时 seconds 的值等于 3
				this.showTips(this.seconds)
				
				this.timer = setInterval(() => {
					this.seconds--
					if(this.seconds <= 0){
						//清除计时器
						clearInterval(this.timer)
						uni.switchTab({
							url:"/pages/my/my",
							success: () => {
								this.updateRedirectInfo({
									openType:'switchTab',
									from:"/pages/cart/cart"
								})
							}
						})
						//终止后续代码的运行（当秒数为 0 时，不再展示 toast 提示消息）
						return
					}
					this.showTips(this.seconds)
				},1000)
			}
		}
	}
</script>

<style lang="scss">
.my-settle-container{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	padding-left: 5px;
}
.radio{
	display: flex;
	align-items: center;
}
.amount-box{
	.amount{
		color: #2979ff;
		font-weight: bold;
	}
	.checkedGoodsAmount{
		color: #ff0000;
		font-weight: bold;
		font-size: 16px;
	}
}
.btn-settle{
	background-color: #2979ff;
	height: 50px;
	color: white;
	line-height: 50px;
	padding: 0 10px;
	min-width: 100px;
	text-align: center;
}
</style>
