<template>
	<view>
		<!-- 选择收货地址的盒子 -->
		<view class="address-choose-box" v-if="JSON.stringify(address) === '{}' || !address">
			<button size="mini" class="btnChooseAddress" @click="chooseAdr">请选择收货地址</button>
		</view>
		
		<!-- 渲染收货地址的盒子 -->
		<view class="address-info-box" v-else @click="chooseAdr">
			<view class="row1">
				<view class="row1-left">
					<view class="username">收货人：{{address.receiveName}}</view>
				</view>
				<view class="row1-right">
					<view class="phone">电话：{{address.receiveTel}}</view>
					<uni-icons type="arrowright" size="16px"></uni-icons>
				</view>
			</view>
			<view class="row2">
				<view class="row2-left">收货地址：</view>
				<view class="row2-right">{{address.receiveAddress}}</view>
			</view>
		</view>
		
		<!-- 底部的边框线 -->
		<image src="/static/cart_border@2x.png" class="address-border"></image>
		
		
		<uni-list v-for="(item,i) in good" :key="i">
			<uni-list-item :title="item.good_name" :note="item.good_color +'  '+item.good_storage + '   ' + '×'+item.good_count"
				:thumb="item.good_icon"
				thumb-size="lg" :rightText="item.good_price * item.good_count" />
		</uni-list>
		
		<view class="btn-settle" @click="place_order">
			确认订单(￥{{unitPayment}})
		</view>
	</view>
</template>

<script>
	import {mapState,mapGetters,mapMutations} from 'vuex'
	export default {
		name:"order_sub",
		data() {
			return {
				adr:'',
				good:'',
				unitPayment:0,
				haveOptions:false
			};
		},
		methods:{
			...mapMutations('m_cart',['removeEquipmentById']),
			...mapMutations('m_user',['updateAddress']),
			chooseAdr(){
				// uni.chooseAddress({
				// 	success: (res) => {
				// 		this.adr = res
				// 		this.updateAddress(this.adr)
				// 	},
				// 	fail: (err) => {
				// 		console.log(err)
				// 	}
				// })
				uni.navigateTo({
					url:'../../subpkg/my-address/my-address'
				})
			},
			place_order(){
				// if(!this.address){
				// 	console.log(1)
				// }else{
				// 	console.log(2)
				// }
				
				if(!this.address || !JSON.stringify(this.address) || JSON.stringify(this.address) == '{}'){
					return uni.$showMsg('请选择地址！',1000,"error")
				}else{
					var T_orderDetailList = [];
					for(let i=0;i<this.good.length;i++){
						T_orderDetailList[i]={
							skuid: this.good[i].good_id,
							amount: this.good[i].good_count,
							unitPayment: this.good[i].good_price*this.good[i].good_count						
						}
					}
					
					const orderInfo = {
						orderPayment: this.unitPayment,
						orderCreateTime: Date.now(),
						orderUid: uni.getStorageSync("userId"),
						orderReceiveId: this.address.id,
						orderDetailList: T_orderDetailList
					}
					// console.log(orderInfo)

					this.$myApi.post('order/orders',orderInfo).then((res) =>{
						// console.log(res)
						if(res.data.status == 200){
							if(this.haveOptions == false){
								for(let i=0;i<this.good.length;i++){
									this.removeEquipmentById(this.good[i].good_id)
								}								
							}
							uni.redirectTo({
								url:'../my-payment/my-payment?orderId='+JSON.parse(res.data.data).orderId,
								success: () => {
									this.updateAddress(null)
								}
							})				
						}
					})					
				}

			},
		},
		onLoad(options) {
			if(uni.getStorageSync('buyNowGoods')){
				this.haveOptions = true
				const good = [uni.getStorageSync('buyNowGoods')]
				this.good = good
				let unitPayment = 0
				for(let i=0;i<this.good.length;i++){
					unitPayment = unitPayment + this.good[i].good_price*this.good[i].good_count
				}
				this.unitPayment = unitPayment
			}else{
				this.haveOptions = false
				this.good = this.cart.filter(x => x.good_radioSwitch)
				let unitPayment = 0
				for(let i=0;i<this.good.length;i++){
					unitPayment = unitPayment + this.good[i].good_price*this.good[i].good_count
				}
				this.unitPayment = unitPayment
			}			
		},
		onUnload(){
			uni.removeStorageSync('buyNowGoods')
		},
		computed: {
		    ...mapState('m_cart', ['cart']),
			...mapGetters('m_cart',['checkedCount','total','checkedGoodsAmount']),
			...mapState('m_user',['addstr']),
			...mapState('m_user',['address'])
		},
	}
</script>

<style lang="scss">
.btnChooseAddress{
	background-color: #2979ff;
	color: white;
}
.address-border{
	display: flex;
	width: 100%;
	height: 5px;
}
.address-choose-box{
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.address-info-box{
	font-size: 12px;
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 5px;
	.row1{
		display: flex;
		justify-content: space-between;

		.row1-right{
			display: flex;
			justify-content: space-between;
			.phone{
				
			}
		}
	}
	.row2{
		display: flex;
		align-items: center;
		margin-top: 10px;
		.row2-left{
			white-space: nowrap;
		}
		.row2-right{
			
		}
	}
}
.btn-settle{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	background-color: #2979ff;
	color: white;
	line-height: 50px;
	text-align: center;
}
</style>